flask==2.3.3
werkzeug==2.3.7
python-dotenv
google-cloud-texttospeech
google-cloud-speech
google-cloud-dialogflow-cx
flask-socketio==5.3.6
python-socketio==5.10.0
eventlet==0.33.3
gunicorn==21.2.0
twilio
requests